* {
  font-family: sans-serif;
}
.main {
  background-color: var(--secondary-color);
}
.mainpagehead {
  margin-top: 75px;
}
.login .mainpagehead {
  height: 90vh !important;
}
.carousel-item {
  min-height: 300px;
  max-height: 800px;
}
